<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROG3050VideoGameStore</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG3050VideoGameStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-4">

                    <li>
                        <div class="navbar-brand ">Conestoga Video Game Store</div>
                    </li>

                    @{
                        bool isHomePage = Context.Request.Path.Equals("/", StringComparison.OrdinalIgnoreCase);
                        bool isProfilePage = Context.Request.Path.StartsWithSegments("/profile/Profile", StringComparison.OrdinalIgnoreCase);
                        bool isLoginPage = Context.Request.Path.Equals("/LoginRegister/Login", StringComparison.OrdinalIgnoreCase);
                        bool isRegisterPage = Context.Request.Path.Equals("/LoginRegister/Register", StringComparison.OrdinalIgnoreCase);
                        bool isProfileIndex = Context.Request.Path.StartsWithSegments("/LoginRegister/ProfileIndex", StringComparison.OrdinalIgnoreCase);
                        bool isAddAddressPage = Context.Request.Path.StartsWithSegments("/LoginRegister/AddAddress", StringComparison.OrdinalIgnoreCase);
                        bool isUpdateProfilePage = Context.Request.Path.StartsWithSegments("/LoginRegister/UpdateProfile", StringComparison.OrdinalIgnoreCase);
                        bool isUpdatePreferencePage = Context.Request.Path.StartsWithSegments("/LoginRegister/UpdatePreferences", StringComparison.OrdinalIgnoreCase);
                        bool isEmailResetPasswordPage = Context.Request.Path.StartsWithSegments("/LoginRegister/EmailResetPassword", StringComparison.OrdinalIgnoreCase);
                        bool isPanelPage = Context.Request.Path.StartsWithSegments("/Admin/Panel", StringComparison.OrdinalIgnoreCase);
                        bool isGameAddPage = Context.Request.Path.StartsWithSegments("/Admin/AddGame", StringComparison.OrdinalIgnoreCase);
                        bool isEventAddPage = Context.Request.Path.StartsWithSegments("/Admin/AddEvent", StringComparison.OrdinalIgnoreCase);
                        bool isListPage = Context.Request.Path.StartsWithSegments("/Admin/List", StringComparison.OrdinalIgnoreCase);
                        bool isGameEditPage = Context.Request.Path.StartsWithSegments("/Admin/EditGame", StringComparison.OrdinalIgnoreCase);
                        bool isChangePasswordPage = Context.Request.Path.StartsWithSegments("/LoginRegister/ChangePassword", StringComparison.OrdinalIgnoreCase);
                        bool isAddressListPage = Context.Request.Path.StartsWithSegments("/LoginRegister/ListAddresses", StringComparison.OrdinalIgnoreCase);
                        bool isAddressEditPage = Context.Request.Path.StartsWithSegments("/LoginRegister/Address", StringComparison.OrdinalIgnoreCase);
                        bool isRatingEditPage = Context.Request.Path.StartsWithSegments("/Games/AddRatings", StringComparison.OrdinalIgnoreCase);
                        bool isProfileGameListPage = Context.Request.Path.StartsWithSegments("/Games/Index", StringComparison.OrdinalIgnoreCase);
                        bool isViewReviewPage = Context.Request.Path.StartsWithSegments("/Games/GameReviews", StringComparison.OrdinalIgnoreCase);
                        bool isReviewApprovalPage = Context.Request.Path.StartsWithSegments("/Admin/ReviewApprovalList", StringComparison.OrdinalIgnoreCase);
                        bool isReviewApprovePage = Context.Request.Path.StartsWithSegments("/Admin/ApproveReview", StringComparison.OrdinalIgnoreCase);
                        bool isReviewRejectPage = Context.Request.Path.StartsWithSegments("/Admin/RejectReview", StringComparison.OrdinalIgnoreCase);
                        bool isEventRegisterPage = Context.Request.Path.StartsWithSegments("/Games/EventRegister", StringComparison.OrdinalIgnoreCase);
                        bool isEveRegisterPage = Context.Request.Path.StartsWithSegments("/Games/Register", StringComparison.OrdinalIgnoreCase);
                        bool isUnregisterPage = Context.Request.Path.StartsWithSegments("/Games/Unregister", StringComparison.OrdinalIgnoreCase);
                        bool isGamesDetailsPage =  Context.Request.Path.StartsWithSegments("/Games/Details", StringComparison.OrdinalIgnoreCase);
                    }

                    
                     @if (isGamesDetailsPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                     @if (isEveRegisterPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }
                     @if (isUnregisterPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }
                     @if (isEventRegisterPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                     @if (isReviewApprovePage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }
                     @if (isReviewRejectPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                     @if (isReviewApprovalPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isViewReviewPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Index", "Games", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isRatingEditPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Index", "Games", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isProfileGameListPage == true)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }


                    @if (isAddressEditPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ListAddresses", "LoginRegister", new { id = Model.UserProfileId})">Back</a>
                        </li>
                    }

                    @if (isAddressListPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }



                    @if (isChangePasswordPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.CurrentProfileId})">Back</a>
                        </li>
                    }

                    @if (isGameEditPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("List", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }


                    @if (isListPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isEventAddPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isGameAddPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isPanelPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isEmailResetPasswordPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Login", "LoginRegister")">Back</a>
                        </li>
                    }

                    @if (isUpdatePreferencePage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.UserProfileId})">Back</a>
                        </li>
                    }

                    @if (isAddAddressPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.ProfileId})">Back</a>
                        </li>
                    }

                    @if (isUpdateProfilePage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister", new { id = Model.Id})">Back</a>
                        </li>
                    }

                    @if (isProfileIndex)
                    {

                        if (Model.IsEmployee == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Panel", "Admin", new { id = Model.Id })">Admin</a>
                            </li>

                        }


                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("AddAddress", "LoginRegister", new { id = Model.Id })">Add Address</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ListAddresses", "LoginRegister", new { id = Model.Id })">Address List</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("UpdateProfile", "LoginRegister", new { id = Model.Id })">Update Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("UpdatePreferences", "LoginRegister", new { id = Model.Id })">Update Preferences</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("ChangePassword", "LoginRegister", new { id = Model.Id })">Change Password</a>
                        </li>

                        <li class="nav-item dropdown" style="margin-bottom: 1rem;">
                            <a class="nav-link dropdown-toggle bg-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.DisplayName
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-light" href="@Url.Action("Profile", "profile", new { id = Model.Id })">Profile</a>
                            </div>
                        </li>
                    }


                    @if (isHomePage)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="LoginRegister" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="LoginRegister" asp-action="Register">Register</a>
                        </li>
                    }

                    @if (isProfilePage)
                    {
                        <li class="nav-item">
                            @*I'm not sure how to fix it but this back button should return the user to the profileIndex page'*@
                            <a class="nav-link text-light" href="@Url.Action("ProfileIndex", "LoginRegister")">Back</a>
                        </li>


                        <li>
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="index">Logout</a>
                        </li>
                    }

                    @if (isLoginPage || isRegisterPage)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="index">Back</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container">
            &copy; 2023 - PROG3050VideoGameStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
