@model PROG3050VideoGameStore.ViewModels.ChangePasswordVM

<head>
    <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />
</head>

<div class="mainForm">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <h1>Change password</h1>

        <div class="form-group message">

            <p> @ViewData["Message"]</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword)
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword)
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmNewPassword)
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "validation-error" })
        </div>

        <div style="display: none;">

            @Html.TextBoxFor(model => model.ObtainedOldPassword, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.CurrentProfileId, new { @class = "form-control" })
        
        </div>


        <div class="form-group">
            <input type="submit" value="Change" class="button btn btn-primary" />
        </div>
    }
</div>
