@model PROG3050VideoGameStore.ViewModels.EmailResetPasswordVM
<head>
    <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />
</head>

<div class="mainForm">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <h1>Reset Password</h1>

        <div class="form-group">

            <p> @ViewData["Message"]</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="form-group">
            <input type="submit" value="Reset" class="button btn btn-primary" />
        </div>

     
    }
</div>