@model PROG3050VideoGameStore.ViewModels.EventVM

<head>
    <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />

    <style>
        .footer {
            position: relative !important;
        }
    </style>
</head>

<div class="mainForm" style="margin-top: 1%;">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <h1>Add Event</h1>

        <div class="form-group message">

            <p> @ViewData["Message"]</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.Name)
            @Html.TextBoxFor(model => model.Event.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Event.Name, "", new { @class = "validation-error" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.DateOfEvent)
            <input type="date" id="datePicker" name="Event.DateOfEvent" asp-for="@Model.Event.DateOfEvent">
            @Html.ValidationMessageFor(model => model.Event.DateOfEvent, "", new { @class = "validation-error" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.TimeOfEvent)
            <input type="time" id="timePicker" name="Event.TimeOfEvent" asp-for="@Model.Event.TimeOfEvent" class="form-control">
            @Html.ValidationMessageFor(model => model.Event.TimeOfEvent, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.Description)
            @Html.TextBoxFor(model => model.Event.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Event.Description, "", new { @class = "validation-error" })

        </div>
     


        <div style="display: none;">

            @Html.TextBoxFor(model => model.Event.Id, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.ProfileId, new { @class = "form-control" })

        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="button btn btn-primary" />
        </div>
    }
</div>
