@model PROG3050VideoGameStore.ViewModels.AddGameVM

<head>
    <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />

    <style>
        .footer {
            position: relative !important;
        }
    </style>
</head>

<div class="mainForm" style="margin-top: 1%;">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <h1>Edit Game</h1>

        <div class="form-group message">

            <p> @ViewData["Message"]</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Name)
            @Html.TextBoxFor(model => model.Game.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Name, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Author)
            @Html.TextBoxFor(model => model.Game.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Author, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Description)
            @Html.TextBoxFor(model => model.Game.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Description, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Price)
            @Html.TextBoxFor(model => model.Game.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Price, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Year)
            @Html.TextBoxFor(model => model.Game.Year, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Year, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Platform)
            <select id="FavPlatform" name="Game.Platform" class="form-control" asp-for="@Model.Game.Platform">
                <option value="None">None</option>
                <option value="PC">PC</option>
                <option value="PS">PS</option>
                <option value="XBOX">XBOX</option>
            </select>
            @Html.ValidationMessageFor(model => model.Game.Platform, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Category)
            <select id="FavCategory" name="Game.Category" class="form-control" asp-for="@Model.Game.Category">
                <option value="None">None</option>
                <option value="Action">Action</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Fantasy">Fantasy</option>
                <option value="RPG">RPG</option>
            </select>
            @Html.ValidationMessageFor(model => model.Game.Category, "", new { @class = "validation-error" })
        </div>

        <div style="display: none;">

            @Html.TextBoxFor(model => model.Game.Id, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.ProfileId, new { @class = "form-control" })

        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="button btn btn-primary" />
        </div>
    }
</div>
