@model PROG3050VideoGameStore.ViewModels.ListVM;
@{
    ViewData["Title"] = "Panel";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>
    <div class="tabs">
        <ul class="tab-navigation">
            <li><a href="@Url.Action("AddGame", "Admin")">Add Game</a></li>
            <li><a href="@Url.Action("AddEvent", "Admin")">Add Event</a></li>
            <li><a href="@Url.Action("List", "Admin")">Game List</a></li>
        </ul>

       <!-- Tab Content for Tab 1 -->
        <div id="tab1" class="tab-content">
            <h2>Tab 1 Content</h2>
            <p>This is the content for Tab 1.</p>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                <tbody>

                    @if (Model.AllGames != null)
                    {
                        for (int i = 0; i < Model.AllGames.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.AllGames[i].Name
                                </td>
                                <td>@Model.AllGames[i].Author</td>
                                <td>@Model.AllGames[i].Price</td>

                                <td>
                                    <a asp-controller="Admin" asp-action="EditGame" asp-route-id="@Model.AllGames[i].Id" asp-route-profileId="@Model.ProfileId">Edit</a>
                                    <span class="mx-1">|</span>
                                    <a asp-controller="Admin" asp-action="DeleteGame" asp-route-id="@Model.AllGames[i].Id" asp-route-profileId="@Model.ProfileId">Delete</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

        <!-- Tab Content for Tab 2 -->
        <div id="tab2" class="tab-content">
            <h2>Tab 2 Content</h2>
            <p>This is the content for Tab 2.</p>
        </div>

        <!-- Tab Content for Tab 3 -->
        <div id="tab3" class="tab-content">
            <h2>Tab 3 Content</h2>
            <p>This is the content for Tab 3.</p>
        </div>
    </div>

    <!-- JavaScript for Tab Functionality -->
    <script src="~/js/AdminPanel.js"></script>
</body>
</html>
