@model 

<head>
    <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />

    <style>
        .footer {
            position: relative !important;
        }
    </style>
</head>

<div class="mainForm" style="margin-top: 1%;">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <h1>Add New Friend</h1>

        <div class="form-group message">

            <p> @ViewData["Message"]</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Game.Name)
            @Html.TextBoxFor(model => model.Game.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Game.Name, "", new { @class = "validation-error" })
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="button btn btn-primary" />
        </div>
    }
</div>
