@model dynamic

<head>
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <style>
    </style>
</head>

<body>
    <div class="profile_card">
        <div class="header">
            <div class="profilePicture">
                <h1 class="display-6">
                    [profile image goes here]
                </h1>
            </div>

            <div class="content">
                <div class="title">
                    <h1 class="display-5">
                        @Model.Profile.DisplayName
                    </h1>
                </div>
                <div class="accountinfo">
                    <p>Birthday</p>
                    <p>@Model.Profile.BirthDate</p>
                </div>

                <!-- First Row -->
                <div class="flex-grid">
                    <div class="flex-item">
                        <p class="miniHeader">Gender</p>
                        <p>@Model.Profile.Gender</p>
                    </div>
                    <div class="flex-item">
                        <p class="miniHeader">Favourite Genres</p>
                        <p>@Model.Preferences.FavCategory</p>
                    </div>
                    <div class="flex-item">
                        <p class="miniHeader">Favourite Platforms</p>
                        <p>@Model.Preferences.FavPlatform</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="games_card">
        <div class="content">
            <div class="title">
                <h1 class="display-6">
                    Games
                </h1>
            </div>
            <!-- First Row -->
            <div>
                make flex grid to display games
                <h1>add game grid here once we have function to add them</h1>

            </div>
        </div>
    </div>
    <div class="FriendsandFamily_card">
        <div class="content">
            <div class="title">
                <h1 class="display-6">
                    Friends & Family
                </h1>
            </div>
            <!-- First Row -->
            <div>
                make flex grid to display friends and family members
            </div>
        </div>
    </div>
</body>
