@model PROG3050VideoGameStore.ViewModels.ReportsVM;
@{
    ViewData["Title"] = "Panel";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>
    <div class="tabs">
        <ul class="tab-navigation">
            <li><a href="@Url.Action("DownloadGamesDetails", "Reports", new { id = Model.ProfileId })">Click here to download games report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadEventsDetails", "Reports", new { id = Model.ProfileId })">Click here to download Events report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadGameRatingsDetails", "Reports", new { id = Model.ProfileId })">Click here to download all Ratings report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadGameReviewsDetails", "Reports", new { id = Model.ProfileId })">Click here to download Reviews report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadEventParticipantsDetails", "Reports", new { id = Model.ProfileId })">Click here to download Event participation report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadUserAddressesDetails", "Reports", new { id = Model.ProfileId })">Click here to download All Addresses report</a></li>
            <br />
            <br />
            <li><a href="@Url.Action("DownloadOrdersAndGamesReport", "Reports")">Click here to download All Orders and Order Items report</a></li>
            <br />
            <br />

        </ul>
      
        <!-- JavaScript for Tab Functionality -->
        <script src="~/js/AdminPanel.js"></script>
</body>
</html>
